@font-face {
  font-family: 'Assistant-Lite';
  src: url('../fonts/assistant300.woff') format('woff'),
       url('../fonts/assistant300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Assistant-Regular';
  src: url('../fonts/assistant400.woff') format('woff'),
       url('../fonts/assistant400.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}