.form-item {
  margin-bottom: 37px;

  &-title {
    font-family: 'Assistant-Regular';
    text-transform: capitalize;
    color: #00B7BD;
    margin-bottom: 5px;
    font-size: 16px;

    &-emphasis {
      border-bottom: 1px solid $accent;
    }
  }

  &:first-child {
    width: 48.5%;
  }
}

.lite-theme-form {
  border: none;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Assistant-Lite';
  width: 100%;
  color: #565656;
  line-height: 17px;
  &.padding {
    padding: 5px 0;
  }
  @media all and (max-width: 1200px) {
    font-size: 14px;

  }

  &::-webkit-input-placeholder {
    color: #B4B4B3;
  }

  &::-moz-placeholder {
    color: #B4B4B3;
  }

  &:-ms-input-placeholder {
    color: #B4B4B3;
  }

  &:-moz-placeholder {
    color: #B4B4B3;
  }
}

.form-flex-container {
  display: flex;
  align-items: flex-end;
  margin: 0 -10px;
}

.submit-btn {
  width: 220px;
  line-height: 40px;
  color: #fff;
  background-color: #EEAA79;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  text-transform: uppercase;
  font-family: 'Assistant-Regular';
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.agree {
  font-family: 'Assistant-Lite';
  font-size: 14px;
  color: #565656;
  margin-bottom: 20px;

  &-link {
    text-decoration: underline;
    color: #00B7BD;
  }

  .checkbox {
    vertical-align: middle;
  }
}

.form-footer {
  text-align: right;
  padding-right: 10px;

  &-text {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.select {
  display: inline-block;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  &::-ms-expand {
    display: none;
  }
  appearance: none;
  border: none;
  border-bottom: 1px solid #B4B4B3;
  color: #B4B4B3;
  padding-bottom: 5px;
  background: url('../img/_src/select-arrow.png') 100% 50% no-repeat;
  @media all and (max-width: 1200px) {
    font-size: 11px;
  }
}
.hidden-row-item .lite-theme-form,
.input-wrap-small .lite-theme-form {
  @media all and (max-width: 1200px) {
    font-size: 12px;
    min-width: 40px;
  }
}